{% extends "itstep/layout/main_layout.html" %}

{% block content %}
<h1 class="page-header">Наші курси<small> Актуальний список</small>
</h1>

{% for course in courses %}

<h2>
    <a href="#">{{ course.name }}</a>
</h2>

<p class="lead">
    by <a href="#">{{ course.teacher.first_name }} {{ course.teacher.last_name }}</a>
</p>
<p><span class="glyphicon glyphicon-time"></span> Початок: {{ course.start }}</p>
<hr>
<img src="#" alt="{{ course.name }}" width="300">
<hr>
<p>{{ course.description|truncatewords:5 }}</p>
<a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

<hr>
{% endfor %}
{% endblock %}